  footer{
    width: 100%;
    display: inline-block;
    margin: 5em 0 0 0;
    padding: .3em 0 0 0;
    height: 5em;
    vertical-align: middle;
    text-align: center;
    border-top: 1px solid #AAA;
    color: #999;
        }
footer .license a{
    font-size: 1em;
    text-decoration: none;
    border: none;
    color: inherit;
}
footer .license a:hover{
    text-decoration: none;
    background: none;
}
footer .left{
    float: left;
}
footer .right{
    float: right;
}
footer p{
    margin: 0;
}
/*~~~~~~~~~~ images  ~~~~~~~~~~*/
.license img{
    border: none;
    height: 1em;
    vertical-align: middle;
}
